@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";

body{
	font-family: Averta Demo PE Cutted Demo, sans-serif;
}
.container {
	max-width: 1200px;
}
.div-with-image{
	.image-for-change {
		border-bottom-left-radius: 200px 200px;
		&:hover {
			border-bottom-left-radius: unset;
			transition: all ease-in-out .5s;
		}
	}
}
.borders-div {
	border: 1px solid #F2F2F2;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
	border-radius: 40px;
}
