@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";

body{
	font-family: 'Averta Demo PE Cutted Demo', sans-serif;
}
.container {
	max-width: 1200px;
}
.div-with-image{
	.image-for-change {
		transition: all ease-in-out .5s;
		border-bottom-left-radius: 200px 200px;
		&:hover {
			border-bottom-left-radius: unset;
		}
	}
}
.borders-div {
	border: 1px solid #F2F2F2;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
	border-radius: 40px;
}
.flex-important {
	display: flex!important;
}
.slick-prev.slick-arrow {
	display: none;
	opacity: 0;
}
.slick-next.slick-arrow {
	display: none;
	opacity: 0;
}
.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0 0;
	
	list-style-type: none;
	position: absolute;
	bottom: 100px;
	right: 50%;
	left: 56.5%;
	button {
		display: block;
		width: 16px;
		height: 16px;
		padding: 0;
		
		border: none;
		border-radius: 100%;
		background-color: #E7F0FC;
		
		text-indent: -9999px;
	}
	li {
		margin: 0 0.25rem;
	}
	.slick-active button {
		background-color: #2639ED;
	}
}
@media (max-width: 1024px) {
	.slick-dots {
		bottom: 50px;
		right: calc((100% - 400px) / 2);
	}
	.header-on-mobile {
		transition: all ease-in-out .3s;
        position: absolute;
        flex-direction: column;
        gap: 73px;
        width: 100%;
        height: calc(100vh - 103px);
        background-color: white;
        z-index: 98876;
        top: 100%;
        left: 0;
        justify-content: center;
        display: flex;
        transform: translateX(-120vw);
		text-align: center;
	}
	.header-on-mobile.active {
		height: calc(100vh - 73px);
	}
	.menu-header.active .header-on-mobile {
		transform: translateX(0);
	}
}
@media (max-width: 768px) {
	.slick-dots {
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	}
}
.slick-slide.slick-current.slick-active {
	display: block;

}
.slick-slide.slick-cloned {
	display: none;
}
.menu-icon-line {
	display: block;
}
.menu-header.active .menu-icon-line {
	display: none;
}
.menu-header.active .menu-icon::before {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 50%;
    top: 63%;
    
}
.menu-header.active .menu-icon::after {
	transform-origin: center;
    transform: translate(-50%, 50%) rotate(-45deg);
    left: 50%;
    top: 50%;
}
.header-animate {
    transform: translateY(-30px);

}
