@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
// html {
// 	--header-size: 103px;
// 	--scrollbar-height: 3px;
// 	--scrollbar-bg: #ddd;
// 	--scrollbar-progress-color: #0089f2;
//   }
// html.active {
// 	--header-size: 73px;
// }
  
//   header {
// 	position: fixed;
// 	top: 0;
// 	height: var(--header-size);
// 	width: 100%;
// 	background: white;
//   }
  
//   .first-section {
// 	margin-top: calc(var(--header-size) + var(--scrollbar-height));
// 	padding: 3px;
//   }
  
//   body {
// 	background: linear-gradient(
// 	  to right top,
// 	  var(--scrollbar-progress-color) 50%,
// 	  var(--scrollbar-bg) 50%
// 	);
// 	background-size: 100%
// 	  calc(100% - 100vh + var(--header-size) + var(--scrollbar-height) + 1px);
// 	background-repeat: no-repeat;
// 	margin: 0;
// 	font-family: "Open Sans", sans-serif;
//   }
//   body::before {
// 	content: "";
// 	position: fixed;
// 	top: calc(var(--header-size) + var(--scrollbar-height));
// 	bottom: 0;
// 	width: 100%;
// 	z-index: -1;
// 	background: white;
//   }




.container {
	max-width: 1200px;
}
.div-with-image{
	.image-for-change {
		transition: all ease-in-out .5s;
		border-bottom-left-radius: 200px 200px;
		&:hover {
			border-bottom-left-radius: unset;
		}
	}
}
.borders-div {
	border: 1px solid #F2F2F2;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
	border-radius: 40px;
}
.flex-important {
	display: flex!important;
}
.slick-prev.slick-arrow {
	display: none;
	opacity: 0;
}
.slick-next.slick-arrow {
	display: none;
	opacity: 0;
}
.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0 0;
	
	list-style-type: none;
	position: absolute;
	bottom: 100px;
	right: 50%;
	left: 56.5%;
	button {
		display: block;
		width: 16px;
		height: 16px;
		padding: 0;
		
		border: none;
		border-radius: 100%;
		background-color: #E7F0FC;
		
		text-indent: -9999px;
	}
	li {
		margin: 0 0.25rem;
	}
	.slick-active button {
		background-color: #2639ED;
	}
}
@media (max-width: 1024px) {
	.slick-dots {
		bottom: 50px;
		right: calc((100% - 400px) / 2);
	}
	.header-on-mobile {
		transition: all ease-in-out .3s;
        position: absolute;
        flex-direction: column;
        gap: 73px;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 98876;
        top: 100%;
        left: 0;
        justify-content: center;
        display: flex;
        transform: translateX(-120vw);
		text-align: center;
	}
	.header-on-mobile.active {
		height: 100vh;
	}
	.menu-header.active .header-on-mobile {
		transform: translateX(0);
	}
}
@media (max-width: 768px) {
	.slick-dots {
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	}
}
@media (max-width: 640px) {
	.div-with-image{
	.image-for-change {
		transition: all ease-in-out .5s;
		border-bottom-left-radius: 20px 20px;
		border-radius: 20px;
	}
}
}

.menu-icon-line {
	display: block;
}
.menu-header.active .menu-icon-line {
	display: none;
}
.menu-header.active .menu-icon::before {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 50%;
    top: 63%;
    
}
.menu-header.active .menu-icon::after {
	transform-origin: center;
    transform: translate(-50%, 50%) rotate(-45deg);
    left: 50%;
    top: 50%;
}
.header-animate {
    transform: translateY(-30px);

}
